form {display: flex; justify-content: center;   
    align-items: center;       
    height: 100vh;     
    text-size-adjust: calc(100);      
    margin: 0; }
body {background-image: url("../../Pictures/Screenshots/Screenshot 2026-07-09 162254.png");
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;   }